@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    background: #161616;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #161616 0%, #161616 12%, #161616 26%, #161616 33%, #161616 41%, rgba(19, 19, 19, 1) 45%, rgba(18, 18, 18, 1) 55%, rgba(18, 18, 18, 1) 75%, rgba(18, 18, 18, 1) 85%, rgba(18, 18, 18, 1) 100%);
    padding-bottom: 150px;
}


.range-input {
    -webkit-appearance: none;
    appearance: none;
    width: 550px;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #535353;
}


.volume-range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.volume-range-input::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

#range2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

#range2::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}